 {% extends 'layout.html'%}

 {% block content %}
 {% include 'sidebar.html' %}
 

 <div class="main-content" id="panel">

 {% include 'nav.html' %}
  <!-- Main content -->
  
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            
          </div>
          <!-- Card stats -->
          <!--  -->
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                  <h5 class="h3 text-white mb-0">Drowsiness</h5>
                </div>
                <div class="col">
                  <!-- {{blinks}} -->
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <!-- <canvas id="chart-sales-dark" class="chart-canvas"></canvas> -->
                <canvas id="chart-drowsiness-dark"class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Blinks</h6>
                  <h5 class="h3 mb-0">Total Blinks</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-blinks-dark" class="chart-canvas"></canvas>
                <!-- <canvas id="chart-bars" class="chart-canvas"></canvas> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- <script src="{{ url_for('static',filename='assets/js/components/charts/chart-drowsiness.js')}}" type="text/javascript"></script> -->

<script>
  // get chart canvas
  var blinks = document.getElementById("chart-blinks-dark").getContext("2d");
  var perclos = document.getElementById("chart-drowsiness-dark").getContext("2d");
   
  var blinksChart = new Chart(blinks, {
  type: 'bar',
  data: {
    labels:{{labels|safe}},
    datasets:[
    {
      label:"Blinks",
      data:{{blinks|safe}},
      fill:false,
      borderColor:"rgb(75,192,192)",
      lineTension:0.1,

    }]

  }
  });
  var perclosChart = new Chart(perclos, {
  type: 'line',
  data: {
    labels:{{labels|safe}},
    datasets:[
    {
      label:"Drowiness Level",
      data:{{perclos|safe}},
      fill:false,
      borderColor:"rgb(75,192,192)",
      lineTension:1,

    }]

  }
  });
            
</script>

{% endblock content %}
